@keyframes nos-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes nos-pulse {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
}

.nos-sq-btn:hover {
  background: rgba(0, 0, 0, 0.08) !important;
}

.nos-sq-close:hover {
  background: #e81123 !important;
  color: white !important;
}
